-server
-Xms<MEM_MIN>g
-Xmx<MEM_MAX>g
-XX:NewSize=<NEW_SIZE>g
-XX:MaxNewSize=<NEW_SIZE>g
-XX:MaxDirectMemorySize=<MAX_DIRECT_MEM>g
-Dlog4j.configurationFile=/opt/druid/conf/druid/historical/log4j2.xml
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir=/mnt/druid/tmp
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-verbosegc
-Xloggc:/var/log/druid/gc/historical.log
-XX:+UnlockDiagnosticVMOptions
-XX:+UseGCLogFileRotation
-XX:NumberOfGCLogFiles=25
-XX:GCLogFileSize=2M
-XX:+PrintGCDetails
-XX:+PrintGCTimeStamps
-XX:+PrintGCDateStamps
-XX:+PrintGCApplicationStoppedTime
-XX:+PrintGCApplicationConcurrentTime
-XX:+PrintClassHistogram
-XX:+ExitOnOutOfMemoryError
-XX:+HeapDumpOnOutOfMemoryError
<CUSTOM_JVM_FLAGS>
