-server
-Xms512m
-Xmx512m
-Dlog4j.configurationFile=/opt/druid/conf/druid/middleManager/log4j2.xml
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir=/mnt/druid/tmp
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-verbosegc
-Xloggc:/var/log/druid/gc/middleManager.log
-XX:+UnlockDiagnosticVMOptions
-XX:+UseGCLogFileRotation
-XX:NumberOfGCLogFiles=25
-XX:GCLogFileSize=2M
-XX:+PrintGCDetails
-XX:+PrintGCTimeStamps
-XX:+PrintGCDateStamps
-XX:+PrintGCApplicationStoppedTime
-XX:+PrintGCApplicationConcurrentTime
-XX:+PrintClassHistogram
-XX:+ExitOnOutOfMemoryError
-XX:+HeapDumpOnOutOfMemoryError
